{:watch-dirs ["src" "test"]
 :extra-main-files {:test {:main cljs-spa.test-runner}}
 :auto-testing true
 :css-dirs ["resources/public/css"]
 :ring-server-options {:port 9333}
 :npm {:bundles {"doublebundle/dist/doublebundle.js" "doublebundle/library.js"}}
 }
